pandas = 2.2.1

# Crear los dataframes
mysql-connector-python = 8.3.0
sqlalchemy = 2.0.30
gdown = 5.2.0

# Protección de contraseñas
python-dotenv = 1.0.1

# Graficación
plotly = 5.22.0
searborn = 0.13.2

# PCA
scikit-learn = 1.5.0